<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="">OptoCoder<i class="material-icons">
      </i></mat-toolbar>
      <mat-card>
        <form [formGroup]="">
          <mat-form-field>
            <mat-icon matPrefix></mat-icon>
            <input autofocus type="text" matInput placeholder="Username" >
          </mat-form-field>
  
          <mat-form-field>
            <mat-icon matPrefix></mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password">
          </mat-form-field>
  
          <button type="submit" mat-raised-button color="primary">Login</button>
          <p align="center" ><a mat-raised-button routerLink="/optocoder-dashboard">Go to Dashboard </a></p>
          <p align="center">Are you new here? <a routerLink="/optocoder-registration">Register Now</a></p>
  
        </form>
      </mat-card>
    </div>
  </div>
  