
mat-sidenav-content{
  padding: 16px;
  margin-left: 200px;
}

table {
  width: 100%;
}

.search-div{
  margin: 2px;
}
.search-form-field{
  font-family: Bahnschrift, serif;
  width: 20%;
  margin-right: 10px;
  padding: 5px  10px;
}
