<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">User Registration <i class="material-icons">
      account_box
    </i></mat-toolbar>
    <mat-card>
      <form [formGroup]="">

        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="Last Name">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>place</mat-icon>
          <input autofocus type="text" matInput placeholder="Address">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>phone_callback</mat-icon>
          <input autofocus type="text" matInput placeholder="Phone Number">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>mail</mat-icon>
          <input autofocus type="email" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="date" matInput placeholder="Date Of Birth">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary"  routerLink="">Registration</button>
        <button type="submit" mat-stroked-button color="primary" routerLink="">Cancel</button>

      </form>
    </mat-card>
  </div>
</div>
