<mat-sidenav opened mode="side">
        <li class="treeview">
                <a href="#">
                  <i class="fa fa-edit"></i> <span>Account</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Editors</a></li>
                          </ul>
                  </span>
                </a>
                
              </li>
</mat-sidenav>
